* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas1 {
    background: beige;
}